<script type="text/javascript"><!--
    var $typeheader = 'header-home8';
    //-->
</script>
<!-- Footer Container -->
<footer class="footer-container typefooter-2">
    <div class="footer-navbar ">
        <!-- Footer Top -->
        <div class="footer-top container">
            <div class="module footer-link">																																		<ul>
                    <li>
                    <a href="oder-history.html">order history</a>
                    </li>
                    <li>
                    <a href="return.html">Return</a>
                    </li>
                    <li>
                    <a href="about-us.html">ABOUT US</a>
                    </li>
                    <li>
                    <a href="#">Technology</a>
                    </li>
                    <li>
                    <a href="#">Health &amp; fitness</a>
                    </li>
                    <li>
                    <a href="#">Mystery</a>
                    </li>
                    <li>
                    <a href="#">HELP</a>
                    </li>
                </ul>
            </div>
            <div class="module footer-about">
                <div class="content-block-footer font-sn">
                    <div class="footer-logo">
                    <img src="image/demo/cms/logo-index8.png" alt=""> </div>
                    <p>8901 Marmora Road, Glasgow, D04 89GR / Telephone: (801) 2345 - 6789<br>
                    E-mail: support@magentechthemes.com</p>
                </div>
                <ul class="social-block ">
                    <li class="rss"><a class="_blank" href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                    <li class="twitter"><a class="_blank" href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a class="_blank" href="https://www.facebook.com/MagenTech" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="google_plus"><a class="_blank" href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                    <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>					
        </div>
        <!-- FOOTER BOTTOM -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyright-text col-sm-12">
                        Maxshop ©  2017 - 2019. Template Themes Demo Store. All Rights Reserved. Designed by MagenTech.Com					
                    </div>
                    <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //end Footer Container -->
