{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
	============================================ -->
	<title>Maxshop Home8 - Premium Multipurpose HTML5/CSS3 Theme</title>
	<meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
	<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Favicon
	============================================ -->

    <link rel="shortcut icon" href="ico/favicon.png">
	
	<!-- Google web fonts
	============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
	
    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="{% static 'maxshop/css/bootstrap/css/bootstrap.min.css' %}">
	<link href="{% static 'maxshop/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'maxshop/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'maxshop/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'maxshop/css/themecss/lib.css' %}" rel="stylesheet">
	<link href="{% static 'maxshop/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
	
	<!-- Theme CSS
	============================================ -->
   	<link href="{% static 'maxshop/css/themecss/so_megamenu.css' %}" rel="stylesheet">
	<link href="{% static 'maxshop/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
	<link id="color_scheme" href="{% static 'maxshop/css/home8.css' %}" rel="stylesheet">
	<link href="{% static 'maxshop/css/responsive.css' %}" rel="stylesheet">
	<!--
	<style>
		.product-small{
			float:left;
		}
		.product-small img{
			height: 92px;
			margin: 10px 0;
			cursor: pointer;
			display: block;
			opacity: 0.6;
		}
		.product-small img:hover{
			opacity: 1;
		}
		.product{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}
		.img-container{
			float: right;
			padding: 10px;
		}
		.img-container img{
			height: 600px;
		}
	</style>
	-->

</head>

<body class="common-home res layout-home8">

    <div id="wrapper" class="wrapper-full banners-effect-7">
        {% include 'includes/navbar.html' %}

        {% block content %}  <!-- equivale ao block main -->
        {% endblock %}

        {% include 'includes/footer.html' %}
    </div>

    <!-- Social widgets -->
    {% include 'includes/social.html' %}
    <!-- End Social widgets -->

    <!-- Cpanel Block 
    {% include 'includes/panel.html' %}
	-->
    <link rel='stylesheet' property='stylesheet'  href="{% static 'maxshop/css/themecss/cpanel.css' %}" type='text/css' media='all' />
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/cpanel.js' %}"></script>
    <!--
    <div id="loader-wrapper">	
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    </div>
	-->

	
	<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static 'maxshop/js/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/owl-carousel/owl.carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/libs.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/unveil/jquery.unveil.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/countdown/jquery.countdown.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/datetimepicker/moment.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/jquery-ui/jquery-ui.min.js' %}"></script>


	<!-- Theme files
	============================================ -->
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/toppanel.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/so_megamenu.js' %}"></script>
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/addtocart.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/accordion.js' %}"></script>	
	<script type="text/javascript" src="{% static 'maxshop/js/themejs/cpanel.js' %}"></script>
</html>